@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45, 18%, 96%;
    --foreground: 20, 8%, 22%;
    --primary: 145, 71%, 74%;
    --primary-foreground: 20, 8%, 22%;
    --secondary: 264, 84%, 17%;
    --secondary-foreground: 172, 78%, 64%;
    --neutral: 172, 78%, 64%;
    --neutral-foreground: 172, 78%, 64%;
  }
}
